parameters:
    level: max
    paths:
        - src
    bootstrapFiles:
        - tests/constants.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: true
